extends layout

block content
    div.signup-wall
        h1.page-title.text-center  All your Internet of Things
    if apps.length > 0
        div.signup-wall
            div.panel-body.text-center
                for app in apps
                    .row.app-table
                        .col1
                            a(href='/application/#{app._id}').my-app #{app.name}
                        .col2
                            text #{app.description}
                        .col3
                            form(action='/applications/destroy/#{app._id}', method='post')
                                input.btn.btn-danger(type='submit', value='Delete')
    else
        div.signup-wall
            h3.text-center  You do not have any applications yet.

    form(method='post', action='/applications/create')
        div.signup-wall
            div.row.space
                div.col-md-2.col-md-offset-4
                    label(for='name') Name:
                div.col-md-4
                    input.form-control(type='text', placeholder='app name', name='name',required)
            div.row.space
                div.col-md-2.col-md-offset-4
                    label(for='description') Description:
                div.col-md-4
                    input.form-control(type='text', placeholder='description', name='description',required)
            div.row.space
                div.col-md-2.col-md-offset-4
                    label(for='app key') App Key:
                div.col-md-4
                    input.form-control(type='text', placeholder='app key', name='app_key',required)
            div.row.space
                button.btn.btn-primary(type='submit', value='Add app') Create your App
                a(href='/home').btn.btn-default.btn Back