//
   Created by Mathias on 7/30/2017.

extends layout

block content
    form(method='post', action='/applications/edit/#{oneapp._id}')
        div
            label(for='name') Name:
            input(value='#{oneapp.name}', name='name')
        div
            label(for='description') Description:
            input(value='#{oneapp.description}', name='description')
        div
            label(for='app_key') App Key:
            input(value='#{oneapp.app_key}', name='app_key')
        div
            input(type='submit', value='Update').btn.btn-primary.btn-lg
            a(href='/applications').btn.btn-default.btn-lg Back
        div
            a(href='https://sandbox.api.macquariebank.io/connect/v1/user-interface/login?client_id=&state='+oneapp._id, target='_self' class='text-center new-account') connect to mac account